* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav {
	padding: 1rem;
}

nav ul {
	list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.right-nav {
	display: flex;
	gap:  0 1rem;
	align-items: center;
}

.nav {
	font-weight: 500;
}

.tuitt-button,
.apply-button {
	background: #c2195b;
	border: 0;
	border-radius: 50px;
	color: #fff;
	padding: 0.5rem 1rem;
	font-weight: 700;
}

.apply-button {
	width: 200px;
}

#bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
/*	filter: grayscale(50%);*/
}

.front-bg {
	color:  #fff;
	height: 450px;
	background: rgba(0,0,0,0.5);
}

h1 {
	margin-top: 0;
	font-size: 3rem;
	font-family: 'Zilla Slab';
	margin-bottom: 0;
	width: 60%;
}

.front-bg .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	max-width: 1200px;
	margin: 0 auto;
	text-align: right;
	padding: 2rem 0;
	z-index: 1;
}

.subtitle {
	font-weight: 400;
	width: 100%;
	width: 50%;
}

.intro,
.pre-footer {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.title-2 {
	font-size: 2rem;
	font-family: 'Zilla Slab';
	margin: 3rem 0;
}

.intro-description {
	text-align: left;
}


.book-button{
	background: #336589;
	border: 0;
	border-radius: 50px;
	color: #fff;
	padding: 1rem 2rem;
	font-weight: 700;
	width: 150px;
}

footer {
	margin: 1rem 0 3rem;
	text-align: center;
}